.AvailableWorks {
  padding: 5vw;
}
.AvailableWorks span {
  font-size: 1rem;
}
.AvailableWorks h1 {
  font-weight: 100;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: #000c30;
  margin: 1rem 0px;
}
