.ExhibitionComponent {
  position: relative;
  width: 220px;
  height: 300px;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.ExhibitionComponent:hover {
  color: red;
  margin-bottom: 10px;
}
.ExhibitionComponent img {
  width: 100%;
  height: 100%;
}
.ECOverlay {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  width: 100%;
  height: 100%;
}
.ECOverlay div {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: 0.9rem;
}
.ECOverlay span {
  padding: 1px 5px;
  background-color: #a08c5d;
}
.ECOverlay div p:nth-child(2) {
  position: relative;
  z-index: 2;
}
