.ExhibitionSection {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  height: auto;
  margin-bottom: 20px;
}
.firstSection {
  flex: 0.5;
}
.secondSection {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0.5;
}
.firstSection div {
  background: #391983;
  color: red;
}
@media Screen and (max-width: 640px) {
  .ExhibitionSection {
    flex-direction: column;
  }
}
