footer {
  padding: 100px 50px;
  display: flex;
  background: black;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .log {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 6px 10px;
  width: 140px;
  margin-bottom: 50px;
  font-weight: bold;
}
footer div {
  margin-right: 50px;
  flex: 0.33;
}

footer div:nth-child(1) i {
  margin-right: 25px;
}

footer div:nth-child(2) p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 10px;
}
footer div:nth-child(2) p i {
  margin-right: 5px;
}

footer div:nth-child(3) p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 10px;
}
footer div:nth-child(3) ul:nth-child(2) {
  list-style-type: none;
}

@media screen and (max-width: 720px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 40px;
  }
  footer .log {
    margin-bottom: 10px;
    font-weight: bold;
  }
  footer div {
    margin-bottom: 10px;
    width: 100%;
  }
  footer div:nth-child(2) p:nth-child(1) {
    margin-bottom: 7px;
    margin-top: 10px;
  }
  footer div:nth-child(3) p:nth-child(1) {
    margin-bottom: 7px;
    margin-top: 10px;
  }
}
